.ant-row {
  margin-bottom: 15px;
}
.avatar-uploader {
  .ant-upload {
    width: 128px;
    height: 128px;
  }
}
.table-rows {
  width: 902px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #e8e8e8;
  .table-row {
    flex: 1;
    border-right: 1px solid #e8e8e8;
    &.table-row1 {
      width: 80px;
    }
    &.table-row2 {
      width: 120px;
    }
    &.table-row3 {
      width: 120px;
    }
    &.table-row4 {
      width: 120px;
    }
    &.table-row5 {
      border-bottom: none;
    }
    h2 {
      width: 100%;
      height: 50px;
      line-height: 50px;
      border-bottom: 1px solid #e8e8e8;
      text-align: center;
      font-size: 14px;
    }
    ul {
      padding: 0;
      margin: 0;
      width: 100%;
      li {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #e8e8e8;
        text-align: center;
        &:last-child {
          border-bottom: none;
        }
      }
    }
    div {
      height: 240px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}