.ant-row {
  margin-bottom: 15px;
}
.avatar-uploader {
  .ant-upload {
    width: 128px;
    height: 128px;
  }
}
.editor-class {
  min-height: 500px;
  border: 1px solid #F1F1F1;
  border-top: none;
  margin-top: -5px;
  padding: 0 10px;
}
.rdw-embedded-modal-btn {
  line-height: 30px;
}
.rdw-image-modal-btn {
  line-height: 30px;
}
.content-box {
  width: 100%;
  img {
    width: 100%;
  }
  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
  }

  /*定义滚动条轨道 内阴影+圆角*/
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  /*定义滑块 内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }
}
