body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*表格页*/
.ant-select {
  min-width: 180px;
}
.handle-card {
  margin: 20px 0 30px;
  text-align: right;
  button {
    margin-left: 10px;
  }
}
ul li {
  list-style: none;
}
